@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Simple Appointment System</h1>
    <p class="lead">by Simon Pawar</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Hospital Appointment System</h2>
        <p>
            A simple doctor appointment system which allows you to book a appoint with doctor.
            Keeps track of number of doctor and patients
        </p>
    </div>
</div>